body{
    padding: 0;
    margin: 0;
}

.income .total-income{
    color: #FAFAFA;
    background-color:gray;
    text-align: center;
    font-size: 22px;
    
}
table {
    width: 30%;
  box-shadow:  0 0 10px 5px rgba(0,0,0,0.6);
  border-radius:15px;
  align-content: center;
  margin-left: 30%;
  
}
